@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins;
  background-color: #f2f4ff;
}

@media (max-width: 600px) {
  #whiteLogo,
  #heroImg,
  #tunes {
    display: none !important;
  }
  #faqs {
    margin-top: 35px !important;
    /* position: relative !important;
    bottom: 20px !important; */
  }
  #check {
    margin-left: 0 !important;
  }

  #heroText {
    padding-top: 30px !important;
  }

  .mainLogo {
    width: 30vh !important;
  }
  #social {
    margin: 0 auto 0 auto !important;
  }
}
